footer {
    border: solid red 3px!important;
}
/* #region  Widget Recent Post */

footer .site-info{
    color: darkblue!important;
    text-align: center;
}
footer aside.widget-area {
    margin: 0!important;
}
#colophon .widget-column .widget{
    width: 90% !important;
    margin: auto;
}
    /* #region  "card" */

    /* !! CARDS */

.wp-block-latest-posts.is-grid li {
    /* background-color: yellow!important; */
    width: calc(25% - 50px) !important;
    margin: auto;
    background-color:  darkblue;
    padding: 20px;
}
.wp-block-latest-posts.is-grid li a {
    color: aqua!important;
    font-weight: bold!important;
}
.wp-block-latest-posts.is-grid li > a:hover {
    background-color: white;
    color: blue!important; 
    padding: 4px;
}
.wp-block-latest-posts.is-grid li a img{
    height: 190px!important;
    width: 300px!important;
}
.wp-block-latest-posts.is-grid li :not(a){
    color: lightblue!important;
}
/* .hideNseek{
    background-color: yellow;
} */
.wp-block-latest-posts.is-grid li a:hover .hideNseek{
    background-color: pink!important;
}

.wp-block-latest-posts.is-grid li:hover {
    background-color: rgba(255, 255, 255, 0.331);
}
.wp-block-latest-posts.is-grid li:hover {

}

/* #endregion */

/* #endregion */


