@font-face { 
    font-family: Gibberish; 
    src: url(redactedscript-light-webfont.woff); 
}
.gibberish {
    font-family: "Gibberish";
}

h3 {
    font-style: italic;
}

h1 {
    font-variant: small-caps  ;
    color: red;
}

h2.entry-title {
    font-size: 80px;
    color: darkviolet;
    font-family: "Gibberish";
}